<div class="stream">
    NOW STREAMING
</div>

<div class="container">


    <div class="movie-card" *ngFor="let movie of moviesData">
        <div class="movie-header" style="background:url({{movie.poster}}); background-size: cover;">

        </div>
        <!--movie-header-->
        <div class="movie-content">
            <div class="movie-content-header">
                <i>
                    <a (click)="bookTicket(movie)">
                        <h3 class="movie-title">{{movie.name}}</h3>
                    </a>
                </i>
                <div class="imax-logo"></div>
            </div>
            <div class="movie-info">
                <div class="info-section">
                    <label>Cast</label>
                    <span>{{movie.cast}}</span>
                </div>
                <!--date,time-->
                <div class="info-section">
                    <label>Director</label>
                    <span>{{movie.director}}</span>
                </div>
                <!--screen-->
                <div class="info-section">
                    <label>Price</label>
                    <span>₹{{movie.price}}</span>
                </div>
                <!--row-->
                <!-- <div class="info-section">
                        <label>Seat</label>
                        <span>21,22</span>
                    </div> -->
            </div>
        </div>
        <!--movie-content-->
    </div>
    <!--movie-card-->

</div>
<!--container-->